@media (max-width: 935px) {
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu li {
    margin-top: 15px;
  }
  .menu a {
    padding: 5px;
  }
}

@media (max-width: 1140px) {
  .menu ul li {
    margin-left: 1.2rem;
  }
  form input {
    width: 150px;
  }
}

@media (max-width: 1114px) {
  .container-info h1 {
    font-size: 3em;
  }
  .container-info h3 {
    font-size: 1.5em;
  }
  .container-info .btn {
    width: 150px;
  }
}

@media (max-width: 995px) {
  .container-info .btn {
    margin-top: 10px;
  }
  .container-img img {
    width: 500px;
    height: 400px;
  }
}

@media (max-width: 770px) {
  .container-info {
    width: 80%;
  }
  .container-info p {
    width: 80%;
  }
  .container-img {
    display: flex;
    justify-content: center;
  }
  .container-img img {
    width: 400px;
    height: 300px;
  }
}
